<head>
    
    <link rel="stylesheet" href="<%= assetPath('css/chatbox.css') %>">
    
</head>
<body>
<% if(locals.user){%>
    <div class=" chat-box-container" >
        <div class="chatterlist"></div>
        <div class="chatarea" id="user-chat-box" >

             
            <ul class=" message-list" >
               <% for(let c of chats){%>
                    <% let name = c.user.name.split(' '); name = name[0]; %> 
                    <% let time = c.createdAt %>                  
                    <%if(user.id == c.user.id ){%>
                        <li id="msg-<%=c._id%>" class=" li self-message " >
                            <span class="self-span" > <%=c.message%> <p class="msgtime" >  <%= time.toLocaleTimeString([] , {hour:'2-digit' , minute : '2-digit'} ) %>  </p> <i class="fa-solid fa-ellipsis-vertical"></i> 
                             <div class="msgoption  " >
                                <p id="d-<%=c._id%>" class="options delete" > Delete Message </p>
                             </div>
                            </span>                         
                            <div class="avatar_name" >
                                <%if(c.user.avatar){%>
                                    <img src="<%=c.user.avatar%>" class="chatavatar"  >
                                <%}else{%>
                                    <img src="<%=assetPath('images/gamer.png')%>" class="chatavatar"  >  
                                <%}%>
                                <p class="msgusername" > <%= name %> </p>
                            </div> 
                        </li>
                <%}else{%>        
                    <li id="msg-<%=c._id%>" class=" li Other-message" >   
                        <div class="avatar_name" >
                            <%if(c.user.avatar){%>
                                <img src="<%=c.user.avatar%>" class="chatavatar"  >
                            <%}else{%>
                                <img src="<%=assetPath('images/gamer.png')%>" class="chatavatar"  >  
                            <%}%>
                            <p class="msgusername" > <%= name %> </p>
                        </div>                        
                        <span class="others-span" > <%=c.message%> <p class="msgtime" >  <%= time.toLocaleTimeString([] , {hour:'2-digit' , minute : '2-digit'} ) %> </p> </span>
                        
                    </li>

                <%}}%>

            </ul>
            
            <form class="send-message-container" method="post" action="/chatbox/create"  >
                <input type="text" name="message" class="message-form" placeholder="  Type your message here.. " cols="80" >
                <button type="submit" class="message-sending-btn " > Send message </button>
            </form>
        
        </div>
    </div>
<%} %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js" integrity="sha512-xbQU0+iHqhVt7VIXi6vBJKPh3IQBF5B84sSHdjKiSccyX/1ZI7Vnkt2/8y8uruj63/DVmCxfUNohPNruthTEQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="<%= assetPath('js/chat_engine.js') %>" ></script>
<% if(locals.user){ %>
    <script>
        new ChatEngine( 'user-chat-box'  , '<%= locals.user.email %>' )
    </script>
<% } %>
</body>