<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rampart+One&display=swap" rel="stylesheet">
</head>
<body>

   
     <% function getst(d) { %>
     <%    if (d > 3 && d < 21) { return 'th'   %>
       <% }else if(d%10 == 1) {return 'st' %>
       <% }else if(d%10 == 2 ) {return 'nd' %>
       <% }else if(d%10 == 3) {return 'rd' %>
       <% }else {return 'th' %>
     <%  }  }   %>
 
     
     <h1 class="vcenter " style="text-align:center" > welcome to posts </h1>
     
      <%  for(let i of posts){  %>

        <% let v =  i.updatedAt %> 
        <% let date =  v.getDate()  %>
        <% let st = getst(date)  %>
        <% date = date + st  %>



                 
        <div   class="postbox vcenter" >

            <div class=" userinfo " >
                <span>
                    <img src="/images/gamer.png" class="avatar" >
                </span>
                <span>
                    <h4 class="username"  > <%= i.user.name %> </h4>  
                    <span class="posttime" > <%= date  + " " + v.toLocaleTimeString([] , { month: 'long', hour: '2-digit' , minute: '2-digit' })  %> </span>
                </span>
                <% if( i.user.id  == user.id ){ %>
                    <span class="dropdown" >
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                        <div class="dropdownContents " id='<%= i._id %>' >
                            <p class="deletepost" > Delete post  </p>
                            <p class="editpost" > Edit post  </p>
                        </div>
                    </span>
                <% } %>
               
            </div>
            
            <!-- <p> <%=  %> </p> -->
            <p class="contentbox" > <%= i.content %> </p>

            <div class="likescomments" >
                <span class="likes" > <i class="fa-regular fa-heart"></i>  like </span>
                <span class="comments" >  <i class="fa-regular fa-comment"></i> comments  </span>
            </div>
            <div class="commentbox" >
                <form action="/posts/create_comment/?id=<%=i._id%>" method="post" >

                    <textarea required name="content"  spellcheck="false" placeholder="Type here ... " adjust ></textarea>
                    <button class="commentbutton" > Add Comment </button>
                </form>
                
            </div>
            <!-- <%= i.comments %> -->
            
            <%-include('_comments' , {i : i})-%>
        </div>

       <% } %>



       <script src="/js/posts.js" ></script>
</body>
</html>