   
     <% function getst(d) { %>
        <%    if (d > 3 && d < 21) { return 'th'   %>
          <% }else if(d%10 == 1) {return 'st' %>
          <% }else if(d%10 == 2 ) {return 'nd' %>
          <% }else if(d%10 == 3) {return 'rd' %>
          <% }else {return 'th' %>
        <%  }  }   %>

<%  for(let i of posts){  %>
    <% let v =  i.updatedAt %> 
    <% let date =  v.getDate()  %>
    <% let st = getst(date)  %>
    <% date = date + st  %>
             
    <div  id="post-<%=i._id%>" class="postbox vcenter" >

        <div class=" userinfo " >
            <span>
                <% if(i.user.avatar){ %>
                    <img src="<%=i.user.avatar%>" class="avatar" >
                <% }else{ %>
                    <img src="/images/gamer.png" class="avatar" >
                <% } %>
            </span>
            <span>
                <h4 class="username"  > <%= i.user.name %> </h4>  
                <span class="posttime" > <%= date  + " " + v.toLocaleTimeString([] , { month: 'long', hour: '2-digit' , minute: '2-digit' })  %> </span>
            </span>
            <% if( i.user.id  == user.id ){ %>
                <span class="dropdown" >
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <div class="dropdownContents" id='<%= i._id %>' >
                        <p class="deletepost" data-href="<%= i._id %>" > Delete post  </p>
                        <p class="editpost" > Edit post  </p>
                    </div>
                </span>
            <% } %>
           
        </div>
        
        <!-- <p> <%=  %> </p> -->
        <p class="contentbox" > <%= i.content %> </p>

        <div class="likescomments" >
            <span class="likes" > <i class="fa-regular fa-heart"></i>  like </span>
            <span class="comments" >  <i class="fa-regular fa-comment"></i> comments  </span>
        </div>
        <div class="commentbox" >
            <form class="commentform" action="/posts/create_comment/?id=<%=i._id%>" method="post" >

                <textarea required name="content" class="commentarea" spellcheck="false" placeholder="Type here ... " adjust ></textarea>
                <button type="submit" class="commentbutton" > Add Comment </button>
            </form>
            
        </div>
        <!-- <%= i.comments %> -->
        <div class="commentlist" >
            <% for(c of  i.comments ){ %>
            <div class="comment" id="comment-<%=c._id%>" >
                <span class="imgspan" >
                    <img src="/images/gamer.png" class="comm_avatar" >
                </span>
                <% let x = c.updatedAt %>
                <span class="name_com" >
                    <span>
                        <p class="username" > <%= c.user.name %> </p>
                        <p class="commenttime" ><%= x.toLocaleTimeString([] , {  hour: '2-digit' , minute: '2-digit' }) %></p>
                    </span>
                    <p><%= c.content %> </p>
                </span>
                <% if(c.user.id == user.id || i.user.id  == user.id ){ %>
                <span class="dropdown"  >
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                    <div class="dropdownContents " id='<%= c._id %>' >
                        <p class="deletecomm" > Delete comment </p>
                        <% if(user.id == c.user.id){ %>
                        <p class="editcomm" > Edit comment </p>
                        <%}%>
                    </div>
                </span>
                <% } %>
            </div>
            
            <% }  %>            
        </div>
        </div>
        
    <% } %>



  <!-- //numbername -->