<head>
    <link rel="stylesheet" href="<%= assetPath('css/posts.css') %>">
    <link rel="stylesheet" href="<%= assetPath('css/profile.css') %>">
</head>
<body>

    <h1> welcome to users profile </h1>
    <h1><%=userdata.name%></h1>
    <h1> <%=userdata.email%></h1>
    <h1> <%=user._id%></h1>

    <% if(user.id == userdata.id){ %>
        <button type="button"  class="editprofilebutton" >
            EDIT PROFILE 
        </button>
        <a href="/users/confirm-reset" > forgot password? </a>
        <% } %>
        <% if(user.id != userdata.id  ){ %>
            <%let exist = false;%>
            <%let second = false%>
            <%for(let f of userdata.friendships){%>
                <%if(f.from_user == user.id && f.to_user == userdata.id ){%>
                    <%exist = true;break;%>
                
                <%}else if(f.from_user == userdata.id && f.to_user == user.id ){%>
                    <% second = true %>
                    <%exist = true;break;%>
                <%}%>
            <%}%>
            <%if(exist == false){%>

                <a href="/users/friendrequest?from=<%=user._id%>&to=<%=userdata._id%>" > <button type="button" > add friend </button>  </a>
            <%}else{%>
                <%if(second ==true ){%>
                    <a href="/users/removefriend?from=<%=userdata._id%>&to=<%=user._id%>" > <button type="button" > remove friend  </button>  </a>
                <%}else{%>
                    <a href="/users/removefriend?from=<%=user._id%>&to=<%=userdata._id%>" > <button type="button" > remove friend  </button>  </a>
                <%}%>
                
            <%}%>
        <% } %>
    
    
    <div class="postdiv" >

        <%- include('posts_post') , {posts : posts} -%>
    
    </div>

    <div class="editprofilediv" >
        <form class="updateform" action="/users/update_profile?id=<%= user._id %>" method="post" enctype="multipart/form-data" >
            <input type="text" name="name" required value="<%=user.name%>" >
            <input type="password" name="password" required placeholder="current password." >
            <input type="password" name="new_password" required placeholder="new password" >
            <input type="password" name="cnew_password" required placeholder="confirm password" >
            <input type="file" accept="image/*" class="profilepic" name="avatar" placeholder="profile picture" >
            <div class="previewdiv">        </div>
            <button type="submit" > Update Profile </button>
        </form>
    </div>

    <script src="<%= assetPath('js/posts.js')%>" ></script>
    <script src="<%= assetPath('js/profile.js')%>" ></script>
    <script src="<%= assetPath('js/home_post.js')%>" ></script>
</body>
</html>