<head>
    <link rel="stylesheet" href="/css/posts.css">
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>

    <h1> welcome to users profile </h1>
    <h1><%=userdata.name%></h1>
    <h1> <%=userdata.email%></h1>
    <h1> <%=user._id%></h1>

    <% if(user.id == userdata.id){ %>
        <button type="button"  class="editprofilebutton" >
            EDIT PROFILE 
        </button>
        <a href="/users/confirm-reset" > forgot password? </a>
        
    <% } %>
    
    
    <div class="postdiv" >

        <%- include('posts_post') , {posts : posts} -%>
    
    </div>

    <div class="editprofilediv" >
        <form class="updateform" action="/users/update_profile?id=<%= user._id %>" method="post" enctype="multipart/form-data" >
            <input type="text" name="name" required value="<%=user.name%>" >
            <input type="password" name="password" required placeholder="current password." >
            <input type="password" name="new_password" required placeholder="new password" >
            <input type="password" name="cnew_password" required placeholder="confirm password" >
            <input type="file" accept="image/*" class="profilepic" name="avatar" placeholder="profile picture" >
            <div class="previewdiv">        </div>
            <button type="submit" > Update Profile </button>
        </form>
    </div>

    
   

    <script src="/js/posts.js" ></script>
    <script src="/js/profile.js" ></script>
    <script src="/js/home_post.js" ></script>
</body>
</html>